{% set bodyClass = 'information' %}

{% if entry.seoTitle | length %}
{% set seoTitle = entry.seoTitle %}
{% else %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription | length %}
{% set seoDescription = entry.seoDescription %}
{% endif %}

{% extends "_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}

{% block main %}
<!-- Contact -->
<div class="grid-container">
<div class="grid-x align-center">
<div class="small-12 medium-10 large-8 cell">

  <div class="grid-x grid-padding-x grid-padding-y align-center">
    {% for detail in entry.detail.all() %}
      <div class="small-12 medium-6 cell">
        <p class="dark-gray">{{ detail.header }}</p>
        {{ detail.copy | markdown }}
      </div>
    {% endfor %}

    {% set books = craft.entries
    .section('books')
    .all() %}


      <div class="small-12 medium-6 cell">
      <p class="dark-gray">Books</p>
        {% for book in books %}
        <div><a href="{{book.url}}">{{ book.title }}, {{ book.publicationDate |date('Y') }}</a></div>
        {% endfor %}
      </div>

  </div>

</div>
</div>
</div>
<!-- End Contact  -->
{% endblock %}

{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}