{% set bodyClass = 'home' %}

{% if entry.seoTitle | length %}
{% set seoTitle = entry.seoTitle %}
{% else %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription | length %}
{% set seoDescription = entry.seoDescription %}
{% endif %}

{% extends "default/_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}

{% block main %}

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
      {% for block in entry.projects.all() %}
      {% switch block.type %}
      {% case "project" %}
      <div class="{{ block.width.value }} {{ block.offset.value }} cell">
      <div class="grid-y align-center height-100">
        <div class="shrink cell text-center">
        {% set project = block.project.one() %}

{% if project | length %}
<div class="grid-y grid-padding-y padding-2 align-center" style="height: 100%;" data-aos="fade-in">
<div class="shrink cell">

<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 cell text-center five">
  <a href="{{ project.url }}" class="square" data-text="{{ project.title }}">
    {% set image = project.image.one() %}
    <div class="excerpt">
    {% if image | length %}
    <img class="max-viewheight-75" data-interchange="{% include "_includes/images/contained/original/interchange-img-small-12-medium-4" %}">
    {% endif %}
    </div>
    <div class="grid-x align-justify padding-top-half">
      <div class="auto cell">
      <div class="project--title">{{project.title}}</div>
      </div>
    </div>
  </a>
  </div>
</div>

</div>
</div>
{% endif %}

          </div>
      </div>
      </div>
      {% endswitch %}
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
