{% set bodyClass = 'project' %}

{# Set parameters for prev/next elements list #}
{% set params = craft.entries
.section('projects')
.orderBy('postDate desc') %}

{% set title = entry.title %}

{# Get the prev/next elements #}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}

{% extends "_layouts/site" %}


{% block navigation %}
<!-- Desktop Navigation -->
<div class="grid-x grid-padding-x grid-padding-y align-justify align-middle navigation" id="swup-header">

  <div class="auto cell align-middle">
    <a href="/" class="">{{ currentSite.name }}</a>
  </div>

  <div class="shrink cell align-middle">
		<a href="/" class="">Close</a>
  </div>

</div>
<!-- End Desktop Navigation -->
{% endblock %}


{% block main %}
{% if entry.videos|length > 1 %}
<div class="grid-container">
  <div class="swiper-container-video">
    <div class="swiper-wrapper">
        <!-- Slides -->
        {% for video in entry.videos.all() %}
        <div class="swiper-slide">

          <div class="grid-x grid-padding-x grid-padding-y align-center width-100">
            <div class="small-10 medium-8 cell text-center">
              <vime-player playsinline>
                <vime-vimeo video-id="{{ video.video|replace('https://vimeo.com/', '') }}"></vime-vimeo>
                
                <vime-default-ui no-controls active-duration="50">
          
{#
                <vime-poster>
                <div class="overlay-wrapper">
                <div class="grid-y height-100 align-center">
                  <div class="shrink cell text-center">
                  <h3 class="white">{{ video.videoTitle }}</h1>
                  </div>
                </div>
                </div>
                </vime-poster>
#}
          
                <vime-controls full-width>
                <vime-playback-control hide-tooltip></vime-playback-control>
                <vime-volume-control hide-tooltip></vime-volume-control>
                <vime-control-spacer></vime-control-spacer>
                <vime-fullscreen-control hide-tooltip></vime-fullscreen-control>
                </vime-controls>
                
                </vime-default-ui>
              </vime-player>
            </div>
          </div>

        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% else %}
<div class="grid-container">
<div class="grid-x grid-padding-x grid-padding-y align-center width-100">
    <div class="small-10 medium-8 cell text-center">
{% for video in entry.videos.all() %}
      <vime-player playsinline>
        <vime-vimeo video-id="{{ video.video|replace('https://vimeo.com/', '') }}"></vime-vimeo>
        
        <vime-default-ui no-controls active-duration="50">
  
{#
        <vime-poster>
        <div class="overlay-wrapper">
        <div class="grid-y height-100 align-center">
          <div class="shrink cell text-center">
          <h3 class="white">{{ video.videoTitle }}</h1>
          </div>
        </div>
        </div>
        </vime-poster>
#}
  
        <vime-controls full-width>
        <vime-playback-control hide-tooltip></vime-playback-control>
        <vime-volume-control hide-tooltip></vime-volume-control>
        <vime-control-spacer></vime-control-spacer>
        <vime-fullscreen-control hide-tooltip></vime-fullscreen-control>
        </vime-controls>
        
        </vime-default-ui>
      </vime-player>
{% endfor %}
    </div>
  </div>
</div>
{% endif %}

<!-- Credits -->
{% if entry.copy|length %}
<div class="full reveal" id="reveal{{entry.id}}" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">

  <div class="grid-x align-center-middle" style="min-height: 100%">
    <div class="small-12 cell padding-vertical-3">

      <div class="grid-x grid-padding-x grid-padding-y grid-margin-y align-center">
        <div class="small-8 cell text-center">

        <div class="padding-vertical-1">
        {{entry.copy}}
        </div>
        <a class="dark-gray" data-close aria-label="Close modal" type="button">Close</a>

        </div>
      </div>

    </div>
  </div>

</div>
{% endif %}
<!-- End Credits -->
{% endblock %}

{% block footer %}
<div class="grid-x grid-padding-x grid-padding-y align-justify">
  <div class="small-4 cell">
    <ul class="menu">
     <li class="menu-text">{{entry.title}}</li>
     {% if entry.videos|length > 1 %}
     <li class="menu-text gallery-pagination"></li>
     {% endif %}
     {% if entry.copy|length %}
     <li>
      <a data-open="reveal{{entry.id}}">
      Text
      </a>
     </li>
     {% endif %}
    </ul>
  </div>

  {% if entry.videos|length > 1 %}
    <div class="small-4 cell">
      <ul class="menu align-center">
       <li class="button-prev h3 margin-bottom-0">←</li>
       <li class="button-next h3 margin-bottom-0">→</li>
      </ul>
    </div>
  {% endif %}

  <div class="small-4 cell">
    <ul class="menu align-right">
      {% if nextEntry %}
      <li>
      <a href="{{ nextEntry.url }}">
        <div>Next Project</div>
      </a>
      </li>
      {% endif %}
    </ul>
  </div>

</div>
{% endblock %}