{% set bodyClass = 'project' %}

{# Set parameters for prev/next elements list #}
{% set params = craft.entries
.section('projects')
%}

{% set title = entry.title %}

{# Get the prev/next elements #}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}

{% extends "_layouts/site" %}


{% block navigation %}
{% import "_macros/isactive" as isactive %}

<!-- Desktop Navigation -->
<div class="grid-x grid-padding-x grid-padding-y align-justify align-middle navigation" id="swup-header">

  <div class="auto cell align-middle">
    <a href="/" class="">{{ currentSite.name }}</a>
  </div>

  <div class="shrink cell align-middle">
		<a href="/" class="">Close</a>
  </div>

</div>
<!-- End Desktop Navigation -->

{% endblock %}


{% block main %}

<!-- Carousel -->
<div class="grid-container">
  <div class="swiper-container-gallery">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper" data-aos="fade-in" data-aos-delay="100">
          <!-- Slides -->
          {% for image in entry.images.all() %}
          <div class="swiper-slide">


            <div class="grid-x grid-padding-x align-center">
              <div class="small-12 cell text-center">

            <div class="grid-y align-center height-100">
              <div class="shrink cell">
                {% switch image.aspectRatio %}
                {% case "original" %}
                <img class="max-viewheight-70" data-interchange="{% include "_includes/images/contained/original/interchange-img-small-12-medium-6" %}">
{#                 {% if image.caption %}<div class="padding-top-half">{{image.caption}}</div>{% endif %} #}
                {% case "1-1" or "5-4" or "5-7" or "6-4" or "7-5" or "16-9" or "3-4" %}
                <img class="max-viewheight-70" data-interchange="{% include "_includes/images/contained/"~image.aspectRatio~"/interchange-img-small-12-medium-12" %}">
                {% default %}
                <img class="max-viewheight-70" data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-12" %}">
                {% endswitch %}
              </div>
            </div>

              </div>
            </div>


          </div>
          {% endfor %}
      </div>
  </div>
</div>
<!-- End Carousel -->



<!-- Grid -->
<div class="full reveal" id="grid-reveal{{entry.id}}" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
<div data-close aria-label="Close modal" type="button" class="link">Close</div>
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-middle" data-aos="fade-in" data-aos-delay="100">
  {% for image in entry.images.all() %}
    <div class="small-12 medium-4 large-3 cell text-center ">
      <a href="#" data-slide="{{loop.index}}" data-close>
      <img data-interchange="{% include "_includes/images/contained/original/interchange-img-small-12-medium-4" %}">
      </a>
    </div>
  {% endfor %}
</div>
</div>
</div>
<!-- End Grid -->

<!-- Credits -->
{% if entry.copy|length %}
<div class="full reveal" id="reveal{{entry.id}}" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">

  <div class="grid-y align-center height-100">
    <div class="shrink cell">
      <div class="grid-x grid-padding-x grid-padding-y grid-margin-y align-center">
        <div class="small-8 cell">
        <div class="padding-vertical-1">
        {{entry.copy}}
        </div>
        </div>
      </div>
    </div>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">Close</span>
  </button>

</div>
{% endif %}
<!-- End Credits -->


{% endblock %}


{% block footer %}
<div class="grid-x grid-padding-x grid-padding-y align-justify">
  <div class="auto medium-5 cell">
    <ul class="menu">
     <li class="menu-text">{{entry.title}}</li>
     <li class="menu-text link" data-open="grid-reveal{{entry.id}}">Thumbnails</a></li>
     <li class="menu-text gallery-pagination"></li>
     {% if entry.copy|length %}
     <li>
      <a data-open="reveal{{entry.id}}">
      Text
      </a>
     </li>
     {% endif %}
    </ul>
  </div>

  <div class="small-2 cell padding-bottom-0">
    <ul class="menu align-center">
     <li class="button-prev h3 margin-bottom-0">←</li>
     <li class="button-next h3 margin-bottom-0">→</li>
    </ul>
  </div>

  <div class="small-5 cell show-for-large">
    <ul class="menu align-right">
      {% if nextEntry %}
      <li>
      <a href="{{ nextEntry.url }}">
        <div>Next Project</div>
      </a>
      </li>
      {% endif %}
    </ul>
  </div>

</div>
{% endblock %}
