{% set bodyClass = entry.title|lower %}

{% if entry.seoTitle|length %}
{% set seoTitle = entry.seoTitle %}
{% elseif entry.title|length %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription|length %}
{% set seoDescription = entry.seoDescription|striptags|raw %}
{% endif %}

{% if entry.image|length  %}
{% set asset = entry.image.one() %}
{% elseif entry.seoImage|length %}
{% set asset = entry.seoImage.one() %}
{% set seoImage = craft.imager.transformImage(asset, { width: 1200, height: 630, dpr: 1, position: asset.getFocalPoint() }) %}
{% endif %}

{% extends "default/_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}

{% block main %}

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
      {% for block in entry.projects.all() %}
      {% switch block.type %}
      {% case "project" %}
      <div class="{{ block.width.value }} {{ block.offset.value }} cell">
      <div class="grid-y align-center height-100">
        <div class="shrink cell text-center">
        {% set project = block.project.one() %}

{% if project | length %}
<div class="grid-y grid-padding-y padding-1 align-center" style="height: 100%;" data-aos="fade-in">
<div class="shrink cell">

<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 cell text-center finals">





  {% set image = project.image.one() %}
  <a href="{{ project.url }}" class="square" data-text="{{ project.title }}">
  <div class="excerpt">
      {% if project.type == 'motion' %}

      {% if project.overrideImage|length  %}
      {% set overrideImage = project.overrideImage.one() %}
      {% endif %}

      <div class="image--16-9" data-interchange="{% if image | length %}{% include "_includes/images/full/16-9/interchange-img-small-12-medium-6" %}{% endif %}" data-aos="fade-in">
      {% if project.previewVideo | length %}
      {% if project.autoplay %}
      <video autoplay muted loop src="{{ project.previewVideo }}" class="video--background video--autoplay show-for-medium">
      </video>
      {% else %}
      <video muted loop src="{{ project.previewVideo }}" class="video--background video--playonhover show-for-medium">
      </video>
      {% endif %}
      {% endif %}
      </div>
      {% else %} 
      <img class="max-viewheight-75" loading="lazy" data-interchange="{% include "_includes/images/contained/original/interchange-img-small-12-medium-4" %}">
      {% endif %}
  </div>
  <div class="grid-x align-justify padding-top-1">
    <div class="auto cell">
    <div class="project--title">{{project.title}}</div>
    </div>
  </div>
  </a>


  </div>
</div>

</div>
</div>
{% endif %}

          </div>
      </div>
      </div>
      {% endswitch %}
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
